/*
DESENVOLVEDOR: Thales Cardoso
GITHUB: https://github.com/thalesacardoso
LINKEDIN: https://www.linkedin.com/in/thalesacardoso/
DATA: 
*/

/* IMPORTA O RESET CSS */
@import url('./reset.css');

/* IMPORTA A FONTE DO GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
   font-size: 16px;
   font-family: monospace;
}

img {
   max-width: 100%;
}

body {
   background-color: #fc1e8a;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.container {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
   background: linear-gradient(325deg,
         #03001e 0%,
         #7303c0 30%,
         #ec38bc 70%,
         #fdeff9 100%);
   padding: 40px 60px;
}

h2 {
   font-size: 3rem;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 0.1em;
}

.reset {
   padding: 15px 20px;
   width: 100%;
   color: #000;
   background-color: #fff;
   font-size: 1.5rem;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   cursor: pointer;
   font-weight: 600;
}

.reset:focus {
   color: #ec38bc;
   background-color: #262809;
}

.game {
   border: 1px solid white;
   width: 430px;
   height: 430px;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   transform-style: preserve-3d;
   perspective: 500px;
}

.item {
   position: relative;
   width: 100px;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
}